<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ get_url(path='favicon.ico') }}">    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="site-title"><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ config.base_url }}">Home</a></li>
                    <li><a href="{{ get_url(path='@/archives.md') }}">Archives</a></li>
                    <li><a href="{{ get_url(path='@/about.md') }}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <p>© {{ now() | date(format="%Y") }} {{ config.extra.author }}</p>
        </footer>
    </div>
</body>
</html>
